# /data/*/raw
# /data/*/features/csv
# /data/*/features/dict/*
# !/data/*/features/dict/encoded_trace_df.pk

/data/*/raw
/data/*/features
/data/*/visualization/*
!/data/*/visualization/*.png

/data/outdated
